parameters:
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#Parameter \#2 \$cacheStorage of class Nette\\Database\\Structure constructor expects Nette\\Caching\\IStorage, Nette\\Caching\\Storages\\MemoryStorage given\.#'
