<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <php>
        <env name="POPULATOR_MYSQL_HOST" value="localhost"/>
        <env name="POPULATOR_MYSQL_USERNAME" value="root"/>
        <env name="POPULATOR_MYSQL_PASSWORD" value=""/>
        <env name="POPULATOR_MYSQL_DATABASE" value="populator"/>
        <env name="POPULATOR_MYSQL_CHARSET" value="utf8"/>
        <env name="POPULATOR_MYSQL_COLLATION" value="utf8_general_ci"/>
    </php>
    <logging/>
    <testsuites>
        <testsuite name="Test suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
